html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

body {
  font-size: 10px;
}

.threed {
  transform-style: preserve-3d;
  position: absolute;
  top: 0; left: 0;
}
#camera {
  transform-origin: 0 0 0;
}
#container.not-fullscreen {
  textarea {
    transform: translate(0, 0);
  }
  .alert{
    &.alert-info{
      transform: translate(0, 210px);
    }
    &.alert-warning{
      transform: translate(0, 265px);
    }
  }
}
textarea {
  transform: rotateY(0deg) translate3d(-100px, 100px, 500px) translate(-100px, -150px);
  height: 200px;
  width: 400px;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 11pt;
}
.alert {
  &.alert-info{
    text-align: center;
    transform:
      rotateY(0deg)
      translate3d(-100px, 310px, 500px)
      translate(-100px, -150px);
  }
  &.alert-warning{
    transform:
      rotateY(0deg)
      translate3d(-100px, 360px, 500px)
      translate(-100px, -150px);
  }
  width: 400px;
  font-family: Consolas, monospace;
  font-size: 10pt;
  padding: 2px;
  line-height: 14px;
  display: block;
  margin: 0;
}

.modal {
  display: block;
  font-size: 12pt;
}
