html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

body {
  font-size: 10px;
}

textarea {
  height: 200px;
  width: 400px;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 11pt;
  position: absolute;
  left: -9999px;
  top: 0;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

#monitor {
  width: 0px;
  clip: rect(0, 400px, 215px, 0);
  opacity: 0.5;
}

.modal {
  display: block;
  font-size: 12pt;
}
