<!doctype html>
<html ng-app="index">
  <head>
    <title>RiftSketch</title>
    <meta charset="utf-8" />

    <link
      href='//fonts.googleapis.com/css?family=Inconsolata'
      rel='stylesheet' type='text/css' />
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet/less" href="css/index.less" />

    <script>
      var less = {
        async: true
      };
    </script>
    <script src="lib/less/less-1.3.3.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/ThreeJS/Three.js"></script>
    <script src="lib/mousetrap.js"></script>
    <script src="lib/leap-0.6.3.js"></script>
    <script src="lib/seedrandom.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.min.js"></script>

    <script src="js/DeviceManager.js"></script>
    <script src="js/RiftSandbox.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body
    ng-controller="SketchController"
    ng-class="{'modal-open': (!hasOverridenUnsupported && seemsUnsupported), 'dk1': isDK1}">


    <div id="container" ng-class="{'not-fullscreen': !isInfullscreen}">
      <canvas id="viewer"></canvas>
      <div id="camera" class="threed" ng-show="is_editor_visible">
        <textarea
          class="threed mousetrap" ng-repeat="file in sketch.files"
          ng-model="file.contents" spellcheck="false">
        </textarea>
        <span class="threed alert alert-info">
          Alt + v - toggle VR | Alt + z - zero VR sensor<br />
          Alt + e - toggle editor |
          Alt + j/k, u/i, m/n - decrement or increment numbers
        </span>
        <span class="threed alert alert-warning" ng-show="error">{{error}}</span>
        <video id="monitor" class="threed" autoplay></video>
      </div>
    </div>

    <div
      class="modal-backdrop fade in"
      ng-show="!hasOverridenUnsupported && seemsUnsupported">
    </div>
    <div class="modal" ng-show="!hasOverridenUnsupported && seemsUnsupported">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">RiftSketch - Unsupported Browser</div>
          <div class="modal-body">
            <p>RiftSketch is a live-coding environment for VR built with
            preliminary WebVR APIs, WebGL and Three.js.</p>

            <p>It seems your browser doesn't support the required WebVR
            features. Please read the
            <a href="https://github.com/brianpeiris/RiftSketch/blob/gh-pages/README.md">
              setup instructions
            </a>
            if you would like to try RiftSketch.</p>

            <iframe
              width="560" height="315"
              src="//www.youtube.com/embed/db-7J5OaSag"
              frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <div class="modal-footer">
            <button ng-click="hasOverridenUnsupported = true">
              continue anyway
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
