<!doctype html>
<html ng-app="index">
  <head>
    <title>RiftSketch</title>
    <meta charset="utf-8" />

    <link
      href='//fonts.googleapis.com/css?family=Inconsolata'
      rel='stylesheet' type='text/css' />
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet/less" href="css/index.less" />
    <script src="lib/less/less-1.3.3.min.js"></script>
  </head>
  <body
    ng-controller="SketchController"
    ng-class="{'modal-open': (!hasOverridenUnsupported && seemsUnsupported)}">


    <div id="container" ng-class="{'not-fullscreen': !isInfullscreen}">
      <canvas id="viewer"></canvas>
      <textarea
        class="mousetrap" ng-repeat="file in sketch.files"
        ng-model="file.contents" spellcheck="false">
      </textarea>
      <video id="monitor" autoplay></video>
    </div>

    <div
      class="modal-backdrop fade in"
      ng-show="!hasOverridenUnsupported && seemsUnsupported">
    </div>
    <div class="modal" ng-show="!hasOverridenUnsupported && seemsUnsupported">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">RiftSketch - Unsupported Browser</div>
          <div class="modal-body">
            <p>RiftSketch is a live-coding environment for VR built with
            preliminary WebVR APIs, WebGL and Three.js.</p>

            <p>It seems your browser doesn't support the required WebVR
            features. Please read the
            <a href="https://github.com/brianpeiris/RiftSketch/blob/gh-pages/README.md">
              setup instructions
            </a>
            if you would like to try RiftSketch.</p>

            <iframe
              width="560" height="315"
              src="//www.youtube.com/embed/db-7J5OaSag"
              frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <div class="modal-footer">
            <button ng-click="hasOverridenUnsupported = true">
              continue anyway
            </button>
          </div>
        </div>
      </div>
    </div>
    <script data-main="js/index.js" src="bower_components/requirejs-bower/require.js"></script>
  </body>
</html>
